[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule ".git-fuzzy"]
	path = .git-fuzzy
	url = https://github.com/bigH/git-fuzzy.git
[submodule ".zplugins/pure"]
	path = .zplugins/pure
	url = https://github.com/sindresorhus/pure.git
